/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
}


/*----------- HEADER --------------*/

header {
    background-color: white;
    overflow: auto;
}

header figure.logo {
float: right;
	margin: 5px 2% 5px 0;
}

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main h1 {
    text-align: center;
}
main h2 {
    text-align: center;
    font-size: 1.2rem;
}
/*slider*/
main picture {
    position: relative;
}
main picture img {
    display: block;
    width: 100%;
}
/*end of slider*/

/*cards*/
main {
    div.cards div img {width: 90%; margin-right: 5%; margin-left: 5%;}
    div.cards div {
        flex-basis: 100%;
        margin: 1rem 0;
    }
}
main div.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 2%;
    gap: 2%;
}
main div.cards div span {
    display: block;
    text-align: center;
    background-color: white;
    margin-top: .5rem;
    padding: 8px 0;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5px;
    a {text-decoration: none;
        font-size: 14px;
        color: black;
    }
}
main div.cards div span:hover {
    background-color: darken(white, 30%);
}
main div#card1, div#card2, div#card3, div#card4, div#card5, div#card6 {
    background-color: rgb(140, 10, 10);
    border-radius: 5px;
    padding-top: .8rem;
    padding-bottom: .8rem;
}
/*end of cards*/

/*----------- FOOTER --------------*/


footer {
    padding: .5rem 2%;
    color: white;
    background-color: black;
    font-family: Roboto;
    display: grid;
    grid-template-columns: 1fr;
    img {width: 50%;}
    h1 {margin-bottom: 0;}
    h2 {margin-bottom: 0;}
    p.address {margin-top: 0;}

}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}