


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul {
    width: 250px;
}

/*----------- MAIN --------------*/
main div.bandbio div {flex-basis: 49%;}
main div.jimmy {
    margin-right: 2%;
}

main div.paul {
    margin-right: 2%;
}
/*----------- FOOTER --------------*/
    
