header, nav, main, footer {
        max-width: 60rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper {
        background-image: url(../images/Header-assets/header-large.jpg); 
        height: 400px;
        background-size: cover;
        background-position: center top;
header h1 {padding-top: 20rem;}
} /* This sets the height for the image*/


/*----------- NAVIGATION --------------*/
nav {
   button {display: none;}
   padding-right: 2%;
   ul, ul.open {
        border: none;
        display: flex;
        justify-content: right;
   }
   ul li a {padding: .8rem;}
   ul li a {border: none; }
}
nav ul li:first-child a {border-right: 1px solid $blackColor;}
nav ul li:nth-child(2) a {border-right: 1px solid $blackColor;}
nav ul li:nth-child(3) a {border-right: 1px solid $blackColor;}

/*----------- MAIN --------------*/

main div.card {
        flex-basis: 29%;
    }

/*----------- FOOTER --------------*/
    
