


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper {
    background-image: url(../images/Header-assets/header-medium.jpg); 
    height: 240px;} /* This sets the height for the image*/
header h1 {padding-top: 10rem;}

/*----------- NAVIGATION --------------*/
    nav button {padding-left: 2%;}
    nav ul li {width: auto;}
    nav ul li a{padding: .5rem 1rem .5rem 2%;}

  
    


/*----------- MAIN --------------*/

main div.card {flex-basis: 46%;}


/*----------- FOOTER --------------*/
    
