/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
div#headerWrapper {
    background-image: url(../images/Header-assets/header-small.jpg); 
    height: 140px;} /* This sets the height for the image*/
header {
    padding: .5rem 2%;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
 div#navWrapper {background-color: $backgroundColor;}  
nav button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: white, 0.9;
    padding-left: 2%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
nav ul.open {
    display: block;
}

/*nav ul li {
    float: left;
    width: 25%;
} */
/* nav.allnav {display: flex; justify-content: right;}  This was a mistake*/
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    padding: .5rem 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-decoration: none;
    font-size: .9rem;
    text-align: left;
    padding-left: 2%;
}

/* nav ul li:first-child a {border-left: none;} we may not need some of this */

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}  

/*----------- MAIN --------------*/
/* div#mainWrapper {background-color: #696969;}  This extends the color all the way across the page*/
main {
    padding: 0 0 1.5rem;
    min-height: 10rem;
    h1 {margin: 0; padding: 1.5rem 0 1.5rem 2%;}

    div.allCards {display: flex; flex-wrap: wrap;}

    div.card {
        border: 1px solid black; 
        flex-basis: 98%;
        text-align: center;
        border-radius: 10px;
        margin: 1rem 2%;
        background-color: rgb(152, 255, 152);
        h3 {border-bottom: 1px solid grey; padding: 5px;}
    }

    div.card:hover img {animation: bounce 2s 1;}

    img {
        position: relative;
    }
    
    @keyframes bounce {
        0% {bottom: 0px; animation-timing-function: ease-out;}
        15% {bottom: 20px; animation-timing-function: ease-in;}
        30% {bottom: 0px; animation-timing-function: ease-out;}
        45% {bottom: 15px; animation-timing-function: ease-in;}
        60% {bottom: 0px; animation-timing-function: ease-out;}
        75% {bottom: 10px; animation-timing-function: ease-in;}
        90% {bottom: 0px; animation-timing-function: ease-out;}
        95% {bottom: 3px; animation-timing-function: ease-in;}
        100% {bottom: 0px;}
    }
        p {
            padding: 0 10px;
        }
        a {
        display: block;
        background-color: white;
        color: black;
        border-radius: 6px;
        padding: 10px;
        margin: 10px 10px;
        text-decoration: none;
        }
        a:hover {background-color: grey;}
} /* end of main*/



/*----------- FOOTER --------------*/
div#footerWrapper {background-color: #ddd;} /* This extends the color all the way across the page*/
footer {
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}