/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
}


/*----------- HEADER --------------*/
div#headerWrapper {
    background-image: url(../images/Header-assets/header-small.jpg); 
    height: 140px;} /* This sets the height for the image*/
header {
    padding: .5rem 2%;
    background-color: rgba(0,0,0,0.05);
}
header h1 {
    margin: 0; 
    padding-top: 4rem;
    font-weight: $heavyWeight;
    color: white;
}
header h2 {
    margin: 0; 
    font-weight: normal;
    font-weight: $middleWeight;
    color: white;
}

/*----------- NAVIGATION --------------*/
 div#navWrapper {background-color: $backgroundColor;}  
nav button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: $blackColor;
    padding: .4rem 0 .2rem 2%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
nav ul.open {
    display: block;
}

nav ul li a {
    display: block;
    background-color: $backgroundColor;
    color: black;
    padding: .5rem 0;
    border-top: 1px solid $blackColor;
    border-bottom: 1px solid $blackColor;
    text-decoration: none;
    font-size: .9rem;
    text-align: left;
    padding-left: 2%;
    font-family: Roboto;
}

nav ul li a:hover {
    background-color: darken($backgroundColor, 20%);
    color: #fff;
}
nav ul li.active a {
    background-color: darken($backgroundColor, 30%);
    color: #fff;
}  

/*----------- MAIN --------------*/

main {
    padding: 0 0 1.5rem;
    min-height: 10rem;
    h1 {margin: 0; padding: 1.5rem 0 1.5rem 2%;}

    div.allCards {display: flex; flex-wrap: wrap;}

    div.card {
        flex-basis: 98%;
        border-radius: 10px;
        margin: 0 2% 1rem 2%;
        background-color: $backgroundColor;
    }

    div.card h3 {
        border-bottom: 1px solid $blackColor; 
        padding: 15px 5px 8px 5px;
        margin: 0;
        font-size: 1.6rem;
        text-align: center;
        color: $blackColor;
    }

    div.card:hover h3 {animation: changecolor 2s 1;}
    @keyframes changecolor {
        0% {color: blue;}
        50% {color: red;}
        100% {color: yellow;}
    }

    div.card:hover img {animation: bounce 2s 1;}

    img {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 48px;
        height: 48px;
    }
    
    @keyframes bounce {
        0% {bottom: 0px; animation-timing-function: ease-out;}
        15% {bottom: 20px; animation-timing-function: ease-in;}
        30% {bottom: 0px; animation-timing-function: ease-out;}
        45% {bottom: 15px; animation-timing-function: ease-in;}
        60% {bottom: 0px; animation-timing-function: ease-out;}
        75% {bottom: 10px; animation-timing-function: ease-in;}
        90% {bottom: 0px; animation-timing-function: ease-out;}
        95% {bottom: 3px; animation-timing-function: ease-in;}
        100% {bottom: 0px;}
    }
        p {
            padding: 0 10px;
            font-family: Roboto;
            font-weight: 400;
            color: $blackColor;
            margin-top: 16px;
        }
        a {
        display: block;
        background-color: lighten($backgroundColor, 20%);
        color: $blackColor;
        border-radius: 6px;
        padding: 10px;
        margin: 1rem;
        text-decoration: none;
        font-family: Roboto;
        text-align: center;
        }
        a:hover {
            color: white;
            background-color: darken($backgroundColor, 20%);
        }
} /* end of main*/



/*----------- FOOTER --------------*/
div#footerWrapper {background-color: $backgroundColor;} /* This extends the color all the way across the page*/
footer {
    padding: .5rem 2%;
    text-align: center;
    color: $blackColor;
    font-family: Roboto;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}